body{
    background-color: darkseagreen;
    background-image: url(a.jpg);
}
.form{
    font-family: 'Inter';
    color: whitesmoke;
    width: 100vw;
    height: 100vh;
    align-items: center;
    display: flex;
    justify-content: center;
}